name: Build and Test
on: [push, pull_request]
jobs:
  build:
    name: Go CI
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [1.16, 1.17]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Check out source
        uses: actions/checkout@v2
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libflint-dev libmpfr-dev
      - name: Install linters
        run: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.43.0"
      - name: Build
        env:
          GO111MODULE: "on"
        run: go build ./...
      - name: Lint
        env:
          GO111MODULE: "on"
        run: |
          golangci-lint run --disable-all --deadline=10m --enable=gofmt --enable=gosimple --enable=unconvert --enable=ineffassign --enable=govet
      - name: Test
        env:
          GO111MODULE: "on"
        run: go test -v ./...
